<form id="deleteForm" action="{{ path('entry_delete', {'id': entry.id}) }}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entry.id) }}">
</form>
