{% import _self as formMacros %}
{% macro printFilesForForm(form) %}
    <div class="col-12 col-md-6 my-3">
        <div class='card'>
            <div class='card-body'>
                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>

                <div class="form-group">
                    <div class="custom-file">
                        {{ form_widget(form.file) }}
                        <label class="custom-file-label">{{ form_label(form.file) }}</label>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_row(form.published) }}
                </div>
            </div>
            <div class='card-footer'>
                <button class='btn btn-danger btn-sm' onclick='this.parentElement.parentElement.parentElement.remove()'>Supprimer</button>
            </div>
        </div>
    </div>
{% endmacro %}

{{ form_start(form, {attr: {id: 'entityForm'}, multipart: true}) }}

    {{ form_row(form.published) }}
    {{ form_row(form.thumbnail) }}
    {{ form_row(form.type) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.tags) }}
    {{ form_row(form.content) }}
    {{ form_row(form.createdAt) }}
    {{ form_row(form.user) }}
    <hr>

    <div id='filesContainer' class='row' data-prototype="{{ formMacros.printFilesForForm(form.files.vars.prototype)|e('html_attr') }}">
        {% for file in form.files %}
            {{ formMacros.printFilesForForm(file) }}
        {% endfor %}
    </div>

    {{ form_widget(form) }}

{{ form_end(form) }}
