{% extends 'admin/template.html.twig' %}

{% block breadcrumbs %}
    {{ include('_modules/admin/breadcrumbs.html.twig', {
        breadcrumbs: [{name: 'Journaux', link: path('entry_index')}],
        buttons: [{name: 'Nouveau journal', link: path('entry_new'), role: 'ROLE_ADMIN'}]
    }) }}
{% endblock %}

{% block body %}
    <div class="col-12 col-md-10">
        <h4>Liste des journaux</h4>

        <div class="table-responsive">
            <table class="table table-borderless table-sm text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Type</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th style="width: 240px;">Auteur</th>
                        <th style="width: 240px;">Date</th>
                        <th style="width: 240px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in entries if (app.user or entry.published) %}
                        <tr class="{{ entry.published ? 'table-success' : 'table-danger' }}">
                            <td>{{ entry.type.name }}</td>
                            <td>{{ entry.title }}</td>
                            <td>{{ entry.description }}</td>
                            <td>{{ entry.user }}</td>
                            <td>{{ entry.createdAt|date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ path('entry_show', {'id': entry.id}) }}">
                                    <button class="btn btn-sm btn-primary">Afficher</button>
                                </a>
                                {% if app.user %}
                                    <a href="{{ path('entry_edit', {'id': entry.id}) }}">
                                        <button class="btn btn-sm btn-primary">Editer</button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
