{% extends 'admin/template.html.twig' %}

{% block breadcrumbs %}
    {{ include('_modules/admin/breadcrumbs.html.twig', {
        breadcrumbs: [{name: 'Entries', link: path('entry_index')}],
        buttons: [
            {id: 'addFile', name: 'Ajouter un fichier', link: '#', role: 'ROLE_ADMIN'},
            {id: 'formSubmit', name: 'Sauvegarder', link: '#', role: 'ROLE_ADMIN'},
        ]
    }) }}
{% endblock %}

{% block body %}
    <div class="col-12 col-md-10">
        <h1>Create new Entry</h1>

        {{ include('admin/entry/_form.html.twig') }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        document.querySelectorAll('.custom-file-input').forEach((input) => {
            input.addEventListener('change', (e) => {
                document.querySelectorAll('label[for=' + input.id + ']')[1].innerHTML = e.currentTarget.files[0].name;
            });
        });

        document.querySelector('#formSubmit').addEventListener('click', (e) => {
            e.preventDefault();

            document.querySelector('#entityForm').submit();
        });

        document.querySelector('#addFile').addEventListener('click', (e) => {
            e.preventDefault();

            let $filesContainer = document.querySelector('#filesContainer');
            let $filePrototype = $filesContainer.dataset.prototype;

            let $newFile = document.createElement('div');
            $newFile.innerHTML = $filePrototype.replace(/__name__/g, $filesContainer.childElementCount);
            $newFile.querySelectorAll('.custom-file-input').forEach((input) => {
                input.addEventListener('change', (e) => {
                    document.querySelectorAll('label[for=' + input.id + ']')[1].innerHTML = e.currentTarget.files[0].name;
                });
            });

            $filesContainer.appendChild($newFile.firstElementChild);
        });
    </script>
{% endblock %}
