{% extends 'admin/template.html.twig' %}

{% block breadcrumbs %}
    {{ include('_modules/admin/breadcrumbs.html.twig', {
        breadcrumbs: [
            {name: 'Entries', link: path('entry_index')},
            {name: entry.title, link: '#'},
        ],
        buttons: [{name: 'Edit', link: path('entry_edit', {id: entry.id}), role: 'ROLE_ADMIN'}]
    }) }}
{% endblock %}

{% block body %}
    <div class="col-12 col-md-10">
        <h1>Entry</h1>

        <table class="table">
            <tbody>
                {% if entry.thumbnail %}
                    <tr>
                        <th>Thumbnail</th>
                        <td>
                            <img src='{{ path('utils.uploads.show', {id: entry.thumbnail.id}) }}' alt=''>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Id</th>
                    <td>{{ entry.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ entry.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entry.description }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ entry.content|raw }}</td>
                </tr
                {% if entry.files is not empty %}>
                    <tr>
                        <th>Files</th>
                        <td>
                            {# @TODO: Twig Extension? #}
                            {% for file in entry.files %}
                                {% if 'image' in file.file.getMimeType %}
                                    <img src='{{ path('utils.uploads.show', {id: file.id}) }}' alt=''>
                                {% elseif 'video' in file.file.getMimeType %}
                                    <video height='240' width='240' controls>
                                        <source src="{{ path('utils.uploads.show', {id: file.id}) }}" type="{{ file.file.getMimeType }}">
                                    </video>
                                {% elseif 'audio' in file.file.getMimeType %}
                                    <audio controls>
                                        <source src="{{ path('utils.uploads.show', {id: file.id}) }}" type="{{ file.file.getMimeType }}">
                                    </audio>
                                {% else  %}
                                    Unknown type : {{ file.file.getMimeType }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
