img
    max-width: 100%

.gp-bg-primary
    background: $primary !important

.gp-bg-secondary
    background: $secondary !important

.gp-bg-terciary
    background: $terciary !important

.gp-bg-other
    background: $other !important
