// GREENPEAS
// Module: user

.userModule
    &.loginModule
        html, body
            height: 100vh

        body
            display: -ms-flexbox
            display: flex
            -ms-flex-align: center
            align-items: center
            padding-top: 40px
            padding-bottom: 40px
            background-color: #f5f5f5

        .form-signin
            width: 100%
            max-width: 420px
            padding: 15px
            margin: auto

        .form-label-group
            position: relative
            margin-bottom: 1rem

            & > label
                position: absolute
                top: 0
                left: 0
                display: block
                width: 100%
                margin-bottom: 0
                line-height: 1.5
                color: #495057
                pointer-events: none
                cursor: text
                border: 1px solid transparent
                border-radius: .25rem
                transition: all .1s ease-in-out

            input
                &::-webkit-input-placeholder
                    color: transparent

                &::-ms-input-placeholder
                    color: #777

                &::-moz-placeholder
                    color: transparent

                &::placeholder
                    color: transparent

                &:not(:placeholder-shown)
                    padding-top: 1.25rem
                    padding-bottom: .25rem

                    & ~ label
                        padding-top: .25rem
                        padding-bottom: .25rem
                        font-size: 12px
                        color: #777

        .form-label-group > input,
        .form-label-group > label
            height: 3.125rem
            padding: .75rem

