{% extends 'security/template.twig' %}
{% block modules %}userModule loginModule
{% endblock %}

{% block body %}
    <form class="form-signin" action="" method="post">

        <div class="mb-4">
            <div class="text-center">
                <img class="py-3" src="{{ asset('build/images/logo.svg') }}" alt="Logo" height="250px">
                <h1 class="h3 mb-3 font-weight-normal">GREENPEAS</h1>


                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="alert alert-warning">
                    L'accès à cette page nécessite une authentification.
                </div>
            </div>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-label-group">
                <input id="username" class="form-control" name="username" placeholder="Eg: k.tartiere" type="text" value="{{ last_username }}" autofocus required>
                <label for="username">Username</label>
            </div>

            <div class="form-label-group">
                <input id="password" class="form-control" name="password" placeholder="Eg: password1234 (no.)" type="password" required>
                <label for="password">Password</label>
            </div>

            <button class="btn btn-sm btn-primary float-right" type="submit">Connexion</button>
        </form>
{% endblock %}
