{% extends 'security/template.twig' %}
{% block modules %}userModule loginModule
{% endblock %}

{% block body %}
    <form class="form-signin" action="" method="post">

        <div class="mb-4">
            <div class="text-center">
                <h1 class="h3 mb-3 font-weight-normal">GREENPEAS</h1>
                <div class="alert alert-warning">
                    Les informations du compte <b>{{ user.fullName }}</b> vont être réinitialisés.
                </div>
            </div>

            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}


            {{ form_start(form) }}

            {{ form_end(form) }}

            <button class="btn btn-sm btn-primary float-right" type="submit">Réinitialiser votre compte</button>
        </form>
    {% endblock %}
