// Greenpeas - store SASS

$mainColor: #00d34f
$containerWidth: 1200px
$transitionDuration: .150s

$importantFF: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'

$mainBackground: #FFFFFF
$secondaryBackground: #f8f9fa

$textMainColor: #212529
$textSecondaryColor: #7e8c8d

@import "modules/reset"
@import "modules/store/sidebar"
@import "modules/store/header"
@import "modules/store/descriptions"
@import "modules/store/editions"
@import "modules/store/configuration"
@import "modules/store/reviews"
@import "modules/store/social"

html, body
  height: 100%
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'

  section
    padding: 40px 0

    background-color: #FFFFFF

    &:nth-child(2n)
      background-color: #f8f9fa