header
  text-align: center

  h2
    font-size: 40px
    font-weight: bold
    font-family: $importantFF
    text-transform: uppercase

  h3
    padding-top: 10px

    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
    font-style: italic
    font-size: 16px

    color: #6c757d