<!DOCTYPE html>
<html class="{% block modules %}{% endblock %}" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}GreenPeas{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block breadcrumbs %}{% endblock %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-2">
                    <h4>Menu</h4>
                    <a class="text-dark" href="{{ path('entry_index') }}">
                        <button class="btn btn-sm w-100">Journaux</button>
                    </a>
                    <a class="text-dark" href="{{ path('admin.tag.index') }}">
                        <button class="btn btn-sm w-100">Tags</button>
                    </a>
                    <a class="text-dark" href="{{ path('utils.uploads.index') }}">
                        <button class="btn btn-sm w-100">Liste des fichiers</button>
                    </a>
                    <a class="text-dark" href="{{ path('fr.home.entries') }}">
                        <button class="btn btn-sm w-100">FrontEnd</button>
                    </a>
                </div>

                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
