{% extends 'admin/template.html.twig' %}

{% block breadcrumbs %}
    {{ include('_modules/admin/breadcrumbs.html.twig', {
        breadcrumbs: [{name: 'Journaux', link: path('entry_index')}],
        buttons: [{name: 'Nouveau journal', link: path('entry_new'), role: 'ROLE_ADMIN'}]
    }) }}
{% endblock %}

{% block body %}
    <div class="col-12 col-md-10">
        <h4>Liste des fichiers</h4>

        <div class="table-responsive">
            <table class="table table-borderless table-sm text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Type</th>
                        <th>Taille</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th style="width: 240px;">Date</th>
                        <th style="width: 240px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files  %}

                        <tr class="{{ file.published ? 'table-success' : 'table-danger' }}">
                            {% if file.file.file %}
                                <td>{{ file.file.getMimeType }}</td>
                                <td>{{ (file.file.getSize / 1000 / 1000)|round(2) ~ ' MB' }}</td>
                            {% else %}
                                <td>File Not Found</td>
                                <td>File Not Found</td>
                            {% endif %}
                            <td>{{ file.name }}</td>
                            <td>{{ file.description }}</td>
                            <td>{{ file.createdAt|date('d/m/Y') }}</td>
                            <td>
                                <button class="btn btn-sm btn-primary js-fileCopyLink" data-fileId='{{ file.id }}'>Copier le lien</button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <input id="copyInput" type='hidden' value=''>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelectorAll('.js-fileCopyLink').forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault();
                let value = '{{ absolute_url(path('utils.uploads.show', {id: "FILEID"})) }}'.replace('FILEID', button.dataset.fileid);
                let $hiddenInput = document.querySelector('#copyInput');

                $hiddenInput.value = value;
                $hiddenInput.type = 'text';
                $hiddenInput.select();
                document.execCommand("copy");
                $hiddenInput.type = 'hidden';
            });
        })
    </script>
{% endblock %}
