<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>GREENPEAS</title>

        <!-- Bootstrap core CSS -->
        {{ encore_entry_link_tags('frontend') }}

        <style>
            img {
                max-width: 100%;
            }
        </style>

        <!-- Custom fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    </head>

    <body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('fe.home.index') }}#page-top">Green Peas</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fe.home.index') }}#portfolio">Production</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fe.home.index') }}#about">A Propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fe.home.index') }}#team">Équipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fe.home.references') }}">Références</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fr.home.entries') }}">Journal de bord</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fr.store.index') }}">Magasin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('entry_index') }}">Administration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block header %}
            <!-- Header -->
            <header class="masthead">
                <div class="container">
                    <div class="intro-text">
                        <div class="intro-lead-in"></div>
                        <div class="intro-heading text-uppercase">Explorez le monde d'Emily</div>
                        <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Green Peas 2019</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <!-- <li class="list-inline-item">
                              <a href="#">
                                <i class="fab fa-twitter"></i>
                              </a>
                            </li> -->
                            <!-- <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li> --->
                            <!-- <li class="list-inline-item">
                              <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                              </a>
                            </li> -->
                        </ul>
                    </div>
                    <!-- <div class="col-md-4">
                      <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                          <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">Terms of Use</a>
                        </li>
                      </ul>
                    </div> -->
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
        <script>
            const lazyLoadInstance = new LazyLoad({
                elements_selector: ".lazy"
            });
        </script>
        {{ encore_entry_script_tags('frontend') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
