<form id="deleteForm" action="{{ path('admin.tag.delete', {'id': tag.id}) }}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
</form>
