{% extends 'admin/template.html.twig' %}

{% block breadcrumbs %}
    {{ include('_modules/admin/breadcrumbs.html.twig', {
        breadcrumbs: [{name: 'Tags', link: path('admin.tag.index')}],
        buttons: [
            {id: 'formSubmit', name: 'Sauvegarder', link: '#', role: 'ROLE_ADMIN'},
            {id: 'formDelete', name: 'Supprimer', link: '#', role: 'ROLE_ADMIN'}
        ]
    }) }}
{% endblock %}

{% block body %}
    <div class="col-12 col-md-10">
        <h1>Édition du tag</h1>

        {{ include('admin/tag/_form.html.twig') }}
        {{ include('admin/tag/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.querySelector('#formSubmit').addEventListener('click', (e) => {
            e.preventDefault();

            document.querySelector('#entityForm').submit();
        });

        document.querySelector('#formDelete').addEventListener('click', (e) => {
            e.preventDefault();

            if (confirm('Vous êtes sur le point de supprimer définitivement cette entrée. Souhaitez-vous continuer ?')) {
                document.querySelector('#deleteForm').submit();
            }
        });
    </script>
{% endblock %}
