{% extends 'admin/template.html.twig' %}

{% block breadcrumbs %}
    {{ include('_modules/admin/breadcrumbs.html.twig', {
        breadcrumbs: [{name: 'Journaux', link: path('entry_index')}],
        buttons: [{name: 'Nouveau tag', link: path('admin.tag.new'), role: 'ROLE_ADMIN'}]
    }) }}
{% endblock %}

{% block body %}
    <div class="col-12 col-md-10">
        <h4>Liste des tags</h4>

        <div class="table-responsive">
            <table class="table table-borderless table-sm text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Titre</th>
                        <th style="width: 240px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.name }}</td>
                            <td>
                                <a href="{{ path('admin.tag.edit', {'id': tag.id}) }}">
                                    <button class="btn btn-sm btn-primary">Editer</button>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Aucun tag trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
