{% extends 'admin/template.html.twig' %}

{% block breadcrumbs %}
    {{ include('_modules/admin/breadcrumbs.html.twig', {
        breadcrumbs: [{name: 'Tags', link: path('admin.tag.index')}],
        buttons: [
            {id: 'formSubmit', name: 'Sauvegarder', link: '#', role: 'ROLE_ADMIN'},
        ]
    }) }}
{% endblock %}

{% block body %}
    <div class="col-12 col-md-10">
        <h1>Nouveau tag</h1>

        {{ include('admin/tag/_form.html.twig') }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        document.querySelector('#formSubmit').addEventListener('click', (e) => {
            e.preventDefault();

            document.querySelector('#entityForm').submit();
        });
    </script>
{% endblock %}
