.configuration
  display: flex
  flex-direction: column
  align-items: center
  position: relative

  @import "_partials/section-header"

  .configuration--recommended
    margin-top: 40px

    border: 7px solid $secondaryBackground

    tr
      display: flex
      flex-direction: column

      text-align: center
      padding: 20px
    
      td:first-child
        font-weight: bold
        padding-bottom: 5px

      td:nth-child(2n)
        color: $textSecondaryColor