.descriptions
  @import "_partials/section-header"

  .description--container
    max-width: $containerWidth
    display: grid

    grid-template-columns: repeat(2, 1fr)
    grid-gap: 40px
    margin: 20px auto 0
    padding: 0 20px

    .description--container-story, .descriptions--container-gameplay
      text-align: center

      p
        padding: 1rem 0
        
    .descriptions--container-other
      grid-column: span 2
      text-align: center

@media only screen and (max-width: $containerWidth)
  .descriptions
    .description--container
      grid-template-columns: repeat(1, 1fr)

      .description--container-story, .descriptions--container-gameplay
        p
          padding: .5rem


      .descriptions--container-other
        grid-column: span 1
