.editions
  display: flex
  flex-direction: column
  position: relative

  @import "_partials/section-header"

  .editions--grid
    padding: 40px

    display: grid
    max-width: $containerWidth
    margin: 0 auto
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 20px

    .editions--griditem
      background: #FFF
      display: flex
      flex-direction: column

      height: 350px
      width: 100%

      .editions--grid-item-images
        height: 75%
        max-width: 100%

        object-fit: cover

      .editions--griditem-details
        padding: 20px

        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center

        .editions--griditem-title
          font-weight: bold
          font-size: 24px
          font-family: $importantFF

          text-transform: uppercase

          text-align: center

      .editions--griditem-availability
        padding: 5px
        text-align: right

        display: flex

        .editions--griditem-status
          font-weight: bold
          margin-right: 5px

          a
            color: initial
            text-decoration: none

        .editions--griditem-price
          color: $textSecondaryColor

@media only screen and (max-width: $containerWidth/2)
  .editions--grid
    grid-template-columns: repeat(1, 1fr) !important