.header
  display: flex
  position: relative

  justify-content: center
  align-items: center

  width: 100%
  height: 100%

  background: #000

  *:not(video)
    z-index: 100

  .opacity
    height: 100%
    width: 100%

    background: #000
    opacity: .25
    position: absolute
    z-index: 2

  video
    position: absolute
    width: 100%
    height: 100%

    z-index: 1
    object-fit: cover

    opacity: .50

  .nav
    position: absolute
    top: 20px
    left: 20px

    filter: drop-shadow(2px 2px 2px rgba(0, 211, 79, 0.7))

    .nav--title
      color: $mainColor
      font-size: 24px
      font-family: 'Kaushan Script', 'Roboto', sans-serif


  .header--hero
    color: #FFF
    font-weight: bold
    text-align: center

    .header--hero-img
      filter: invert(1) drop-shadow(4px 4px 4px rgba(255, 255, 255, .7))

      height: 250px
      width: 100%

    .header--hero-bulletpoints
      margin-top: 20px
      padding: 0 10px
      font-family: Roboto Slab,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
      text-shadow: 4px 4px 4px rgba(0, 0, 0, .7)

      h2
        padding: .25rem

    .header--hero-download
      margin-top: 20px
      padding: 10px 0

      border-radius: 5px
      border: 1px solid $mainColor

      width: 250px
      outline: none
      background: rgba(0, 0, 0, .5)

      color: $mainColor
      text-shadow: 2px 2px 2px rgba(255, 255, 255, .2)
      text-transform: uppercase
      cursor: pointer
      transition: background-color $transitionDuration

      i
        color: $mainColor
      
      &:hover, &:active
        background: #FFF