.reviews
  display: flex
  flex-direction: column
  align-items: center
  position: relative

  @import "_partials/section-header"

  .review--grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 20px
    padding: 40px 0
    max-width: $containerWidth

    margin-top: 40px

    .review--grid-item
      padding: 20px
      display: flex
      align-items: center
      flex-direction: column-reverse

      background: #FFF

    .review--meta
      .review--meta-img
        margin: 20px
        height: 100px
        width: 100px

        border-radius: 50%
        border: 7px solid rgba(0,0,0,.1)

        &.review-img-david
          transform: scaleX(1)

        &.review-img-david-reversed
          transform: scaleX(-1)

      .review--meta-author
        text-align: center

        font-style: italic
        color: lighten(black, 50)

    .review--text
      text-align: center

@media only screen and (max-width: $containerWidth)
  .review--grid
    grid-template-columns: repeat(2, 1fr) !important

@media only screen and (max-width: $containerWidth/2)
  .review--grid
    grid-template-columns: repeat(1, 1fr) !important