.sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0

  background: #000
  z-index: 5000
  width: 250px

  transition: transform $transitionDuration
  transform: translateX(-250px)

  &.sidebar-active
    transform: translateX(0)

  .sidebar--title
    color: $mainColor
    font-family: 'Kaushan Script', 'Roboto', sans-serif

    text-align: center
    font-size: 22px

    margin-top: 20px

  .sidebar--links
    margin-top: 50px

    .sidebar--links-item
      font-family: Roboto Slab,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji

      color: white
      margin-left: 20px
      font-size: 18px

      padding: 5px 0

      a
        color: inherit
        text-decoration: none

        &:hover
          color: $mainColor