.social
  display: flex
  flex-direction: column
  align-items: center
  position: relative

  @import "_partials/section-header"

  .social--griditems
    display: grid
    grid-gap: 20px
    padding: 40px
    max-width: $containerWidth

    grid-template-columns: repeat(4, 1fr)

    margin-top: 40px

    .social--griditem
      display: flex
      flex-direction: column

      align-items: center

      height: 150px
      background: #FFF
      border: 2px solid #EEE

    .social--griditem-img
      height: 100%
      padding: 20px

    .social--griditem-title
      padding: 20px