<div class="portfolio-modal modal fade" id="journalEntry{{ entry.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            {{ entry.content|raw }}
                        </div>
                        {% if entry.files is not empty %}
                            <div class='modal-footer'>
                                {# @TODO: Twig Extension? #}
                                {% for file in entry.files if file.published  %}
                                    {% if 'image' in file.file.getMimeType %}
                                        <img class="lazy" data-src='{{ path('utils.uploads.show', {id: file.id}) }}' alt=''>
                                    {% elseif 'video' in file.file.getMimeType %}
                                        <video height='240' width='240' controls>
                                            <source src="{{ path('utils.uploads.show', {id: file.id}) }}" type="{{ file.file.getMimeType }}">
                                        </video>
                                    {% elseif 'audio' in file.file.getMimeType %}
                                        <audio controls>
                                            <source src="{{ path('utils.uploads.show', {id: file.id}) }}" type="{{ file.file.getMimeType }}">
                                        </audio>
                                    {% else %}
                                        Unknown type : {{ file.file.getMimeType }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>