<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GREENPEAS - Store</title>

    <!-- Bootstrap core CSS -->
    {{ encore_entry_link_tags('store') }}
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">

</head>

<body class="store">
<header class="header">
    <nav class="nav">
        <h2 class="nav--title">
            <i id="menu" class="fa fa-bars"></i>
            Green Peas
        </h2>
    </nav>

    <div class="header--hero">
        <img class="header--hero-img" src="{{ asset('build/images/store/emily-logo.svg') }}" alt="">

        <div class="header--hero-bulletpoints">
            <h2>Accompagnez Emily dans son aventure pour sauver son ami a fourrure.</h2>
            <h2>Des péripéties dans une ville en pleine évolution et une famille en pleine reconstruction.</h2>
        </div>

        <a href="https://cmbt-studio.itch.io/emilys-friend">
            <button class="header--hero-download">
                <i class="fas fa-download"></i>
                Obtenez le jeu
            </button>
        </a>
    </div>
    <div class="opacity"></div>
    <video src="{{ asset('build/videos/hero.webm') }}" autoplay muted loop></video>
</header>

<nav id="sidebar" class="sidebar">
    <h2 class="sidebar--title">Green Peas</h2>

    <ul class="sidebar--links">
        <li class="sidebar--links-item">
            <a href="{{ path('fe.home.index') }}#portfolio">Production</a>
        </li>
        <li class="sidebar--links-item">
            <a href="{{ path('fe.home.index') }}#about">A Propos</a>
        </li>
        <li class="sidebar--links-item">
            <a href="{{ path('fe.home.index') }}#team">Équipe</a>
        </li>
        <li class="sidebar--links-item">
            <a href="{{ path('fe.home.references') }}">Références</a>
        </li>
        <li class="sidebar--links-item">
            <a href="{{ path('fr.home.entries') }}">Journal de bord</a>
        </li>
        <li class="sidebar--links-item">
            <a href="{{ path('fr.store.index') }}">Magasin</a>
        </li>
        <li class="sidebar--links-item">
            <a href="https://www.instagram.com/green_peas_project/">Instagram</a>
        </li>

    </ul>
</nav>

<section class="descriptions">
    <header class="descriptions--title">
        <h2>Histoire et Gameplay</h2>
    </header>

    <div class="description--container">
        <div class="description--container-story">
            A 9 ans, Emily développe une amitié incongrue avec un jeune écureuil écumant les poubelles de son
            jardin. Malgré les remontrances de son père, John, elle décide de prendre soin de lui et de le nourrir.
        </div>
        <div class="descriptions--container-gameplay">
            Suivez l'aventure d'Emily à travers l'urbanisation de son environnement, l'évolution de sa relation avec
            son père et sa quête jonchée de pollutions. La ville est dangereuse pour une jeune enfant ordinaire...
            Mais Emily est prête à tout pour sauver Tofu, son nouvel ami.
        </div>
        <div class="descriptions--container-other">
            Un jeu PC développé par 5 étudiants, jouable au clavier et à la manette !
        </div>
    </div>
</section>

<section class="editions">
    <header class="header--title">
        <h2>Nos éditions et produits dérivés</h2>
    </header>

    <div class="editions--grid">
        <div class="editions--griditem">
            <img class="editions--grid-item-images" src="{{ asset('build/images/store/editions/standart.webp') }}" alt="">

            <div class="editions--griditem-details">
                <h2 class="editions--griditem-title">Emily's Friend - Standart Edition</h2>
                <div class="editions--griditem-availability">
                    <h4 class="editions--griditem-status">
                        <a href="https://cmbt-studio.itch.io/emilys-friend">Disponible</a>
                    </h4>
                    <h4 class="editions--griditem-price">Gratuit</h4>
                </div>
            </div>
        </div>
        <div class="editions--griditem">
            <img class="editions--grid-item-images" src="{{ asset('build/images/store/editions/tofu.webp') }}" alt="">

            <div class="editions--griditem-details">
                <h2 class="editions--griditem-title">Emily's Friend - Tofu Edition</h2>
                <div class="editions--griditem-availability">
                    <h4 class="editions--griditem-status">Épuisé</h4>
                    <h4 class="editions--griditem-price">5.97 €</h4>
                </div>
            </div>
        </div>
        <div class="editions--griditem">
            <img class="editions--grid-item-images" src="{{ asset('build/images/store/editions/emily.webp') }}" alt="">

            <div class="editions--griditem-details">
                <h2 class="editions--griditem-title">Emily's Friend - Emily Edition</h2>
                <div class="editions--griditem-availability">
                    <h4 class="editions--griditem-status">Épuisé</h4>
                    <h4 class="editions--griditem-price">15.98 €</h4>
                </div>
            </div>
        </div>
        <div class="editions--griditem">
            <img class="editions--grid-item-images" src="{{ asset('build/images/store/editions/john.webp') }}" alt="">

            <div class="editions--griditem-details">
                <h2 class="editions--griditem-title">Emily's Friend - John Edition</h2>
                <div class="editions--griditem-availability">
                    <h4 class="editions--griditem-status">Épuisé</h4>
                    <h4 class="editions--griditem-price">35.99 €</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="configuration">
    <header class="header--title">
        <h2>Configuration minimale recommandée</h2>
    </header>

    <table class="configuration--recommended">
        <tr>
            <td>SYSTÈME D'EXPLOITATION</td>
            <td>Windows 7+</td>
        </tr>
        <tr>
            <td>PROCESSEUR</td>
            <td>Intel I5+, ou AMD Ryzen 3600, ou mieux</td>
        </tr>
        <tr>
            <td>CARTE GRAPHIQUE</td>
            <td>Nvidia GTX 460, ou Radeon HD 7800, ou mieux</td>
        </tr>
        <tr>
            <td>MÉMOIRE</td>
            <td>2 Go RAM</td>
        </tr>
        <tr>
            <td>STOCKAGE</td>
            <td>500 MB espace disque</td>
        </tr>
    </table>
</section>

<section class="reviews">
    <header class="header--title">
        <h2>Découvez les avis de professionnels</h2>
    </header>

    <div class="review--grid">
        <div class="review--grid-item">
            <div class="review--meta">
                <img class="review--meta-img" src="{{ asset('build/images/store/reviews/miguel.webp') }}" alt="">
                <p class="review--meta-author">Miguel Almiron</p>
            </div>
            <p class="review--text">Pas mal, dommage qu'elle ne grimpe pas aux arbres...</p>
        </div>
        <div class="review--grid-item">
            <div class="review--meta">
                <img id="goodEnough" class="review--meta-img" src="{{ asset('build/images/store/reviews/david.webp') }}" alt="">
                <p class="review--meta-author">David GoodEnough</p>
            </div>
            <p class="review--text">C'est pas si mal</p>
        </div>
        <div class="review--grid-item">
            <div class="review--meta">
                <img class="review--meta-img" src="{{ asset('build/images/store/reviews/john.webp') }}" alt="">
                <p class="review--meta-author">John Peplu</p>
            </div>
            <p class="review--text">EMILYYYYYYY</p>
        </div>
        <div class="review--grid-item">
            <div class="review--meta">
                <img class="review--meta-img" src="{{ asset('build/images/store/reviews/parents.webp') }}" alt="">
                <p class="review--meta-author">Maman et Papa</p>
            </div>
            <p class="review--text">C'est vraiment très joli</p>
        </div>
    </div>
</section>


{#    <section class="social">#}
{#        <header class="header--title">#}
{#            <h2>Découvez nos réseaux</h2>#}
{#        </header>#}

{#        <div class="social--griditems">#}
{#            <div class="social--griditem">#}
{#                <img class="social--griditem-img" src="{{ asset('build/images/logo.svg') }}" alt="">#}
{#                <h4 class="social--griditem-title">TrashMates</h4>#}
{#            </div>#}
{#            <div class="social--griditem">#}
{#                <img class="social--griditem-img" src="{{ asset('build/images/logo.svg') }}" alt="">#}
{#                <h4 class="social--griditem-title">TrashMates</h4>#}
{#            </div>#}
{#            <div class="social--griditem">#}
{#                <img class="social--griditem-img" src="{{ asset('build/images/logo.svg') }}" alt="">#}
{#                <h4 class="social--griditem-title">TrashMates</h4>#}
{#            </div>#}
{#            <div class="social--griditem">#}
{#                <img class="social--griditem-img" src="{{ asset('build/images/logo.svg') }}" alt="">#}
{#                <h4 class="social--griditem-title">TrashMates</h4>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{{ encore_entry_script_tags('store') }}

{% block javascripts %}
    <script>
        let $menu = document.querySelector('#menu');
        let $sidebar = document.querySelector('#sidebar');

        $menu.addEventListener('click', (e) => {
            e.stopPropagation();

            console.log('menu');
            $sidebar.classList.add('sidebar-active')
        });

        document.querySelector('body').addEventListener('click', () => {
            console.log('body');
            $sidebar.classList.remove('sidebar-active');
        })
    </script>

    <script>
        let $goodEnoguh = document.querySelector('#goodEnough');
        setInterval(() => {
            $goodEnoguh.classList.toggle('review-img-david-reversed');
            $goodEnoguh.classList.toggle('review-img-david');
        }, 250)
    </script>
{% endblock %}
</body>
</html>
