{% extends 'frontend/template.html.twig' %}

{% block content %}

    <!-- Portfolio Grid -->
    <section class="bg-light page-section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Comptes rendus</h2>
                    <h3 class="section-subheading text-muted">Tout notre travail semaine après semaine</h3>
                </div>
            </div>
            <div class="row">
                {% for compteRendu in comptesRendus %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#compteRenduModal{{ compteRendu.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            {% if compteRendu.thumbnail %}
                                <img class="img-fluid" src='{{ path('utils.uploads.show', {id: compteRendu.thumbnail.id}) }}'>
                            {% else %}
                                <img class="img-fluid" src="{{ asset('build/images/default/entry.svg') }}" alt="">
                            {% endif %}
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ compteRendu.title }}</h4>
                            <p class="text-muted">{{ compteRendu.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="page-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">A propos</h2>
                    <h3 class="section-subheading text-muted">Découvrez la création de l'équipe et son évolution</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for evolution in evolutions %}
                            <li class='{{ cycle(['', 'timeline-inverted'], loop.index0) }}'>
                                <div class="timeline-image">
                                    {% if evolution.thumbnail %}
                                        <img class="rounded-circle img-fluid" src="{{ path('utils.uploads.show', {id: evolution.thumbnail.id}) }}" alt="">
                                    {% else %}
                                        <img class="rounded-circle img-fluid" src="{{ asset('build/images/default/entry.svg') }}" alt="">
                                    {% endif %}
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ evolution.title }}</h4>
                                        <h4 class="subheading">{{ evolution.description }}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">{{ evolution.content|raw }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>La suite
                                    <br>sera pour
                                    <br>plus tard</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="bg-light page-section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Notre Équipe</h2>
                    <h3 class="section-subheading text-muted">Green Peas est composée de {{ members|length }} membre{{ members|length > 1 ? "s" : "" }} chacun spécialisé dans son domaine</h3>
                </div>
            </div>

            <div class="row">
                {% for member in members %}
                    <div class="col-sm-4">
                        <div class="team-member">
                            <a class="portfolio-link" data-toggle="modal" href="#memberModal{{ member.id }}">
                                {% if member.thumbnail %}
                                    <img class="mx-auto rounded-circle" src="{{ path('utils.uploads.show', {id: member.thumbnail.id}) }}" alt="">
                                {% else %}
                                    <img class="mx-auto rounded-circle" src="{{ asset('build/images/default/entry.svg') }}" alt="">
                                {% endif %}
                            </a>
                            <h4>{{ member.title }}</h4>
                            <p class="text-muted">{{ member.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">L'équipe de Green Peas est disponible pour toute demande d'information complémentaire depuis la section <a>Contact</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Member Modals -->
    {% for member in members %}
        <div class="portfolio-modal modal fade" id="memberModal{{ member.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mx-auto">
                                <div class="modal-body">
                                    {{ member.content|raw }}

                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Fermer l'onglet
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for compteRendu in comptesRendus %}
        <div class="portfolio-modal modal fade" id="compteRenduModal{{ compteRendu.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    {{ compteRendu.content|raw }}

                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Fermer l'onglet
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
