{% extends 'frontend/template.html.twig' %}

{% block header %}
    <!-- Header -->
    <header class="masthead">
        <div class="container base">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase">Suivez notre activité</div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <!-- Portfolio Grid -->
    <section class="bg-light page-section" id="portfolio">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Journaux de bord</h2>
                    <hr>
                    <div class='row'>
                        <div class='col-6'>
                            <select id='orderByDate' class='form-control sorters'>
                                <option selected value=''>--- Trier par date ---</option>
                                <option value='ASC'>Plus ancien au plus récent</option>
                                <option value='DESC'>Plus récent au plus ancien</option>
                            </select>
                        </div>
                        <div class='col-6'>
                            <select id='author' class='form-control filters'>
                                <option selected value=''>--- Trier par auteur ---</option>
                                {% for user in users if user.username != 'root' %}
                                    <option value='{{ user }}'>{{ user }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="entries" class="row">
                {% for entry in entries %}
                    <div class="col-md-4 col-sm-6 portfolio-item entry" data-id='{{ entry.id }}' data-createdAt='{{ entry.createdAt|date('U') }}' data-author='{{ entry.user }}'>
                        <a class="portfolio-link" data-toggle="modal" href="#journalEntry{{ entry.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            {% if entry.thumbnail %}
                                <img class="img-fluid lazy" data-src='{{ path('utils.uploads.show', {id: entry.thumbnail.id}) }}'>
                            {% else %}
                                <img class="img-fluid lazy" data-src="{{ asset('build/images/default/entry.svg') }}" alt="">
                            {% endif %}
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ entry.title }}</h4>
                            <p class="text-muted">{{ entry.description }}</p>
                            <p class='text-muter'>{{ entry.user }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div id="modal"></div>

{% endblock %}

{% block javascripts %}

    <script>
        let filters = {
            author: null
        };

        let sorters = {
            orderByDate: null,
        };

        document.querySelectorAll('.filters').forEach((select) => {
            select.addEventListener('change', (e) => {
                e.preventDefault();

                filters[e.target.id] = e.target.value || null;
                refreshFilters();
            })
        });

        document.querySelector('.sorters').addEventListener('change', (e) => {
            e.preventDefault();

            refreshSorters(e.target.value === 'ASC')
        });

        let refreshFilters = () => {
            document.querySelectorAll('.entry').forEach((entry) => {
                entry.classList.remove('d-none');

                Object.keys(filters).forEach((filter) => {
                    if (null !== filters[filter] && entry.dataset[filter] !== filters[filter]) {
                        entry.classList.add('d-none');
                    }
                })
            });
        }

        let refreshSorters = (isAsc) => {
            let entries = [];
            document.querySelectorAll('.entry').forEach((entry) => {
                entries.push(entry);
                entry.remove();
            });

            entries.sort((a, b) => {
                return a.dataset.createdat - b.dataset.createdat;
            });

            if (!isAsc) {
                entries.reverse();
            }

            entries.forEach((entry) => {
                document.querySelector("#entries").append(entry);
            })
        };

        document.querySelectorAll('.entry').forEach((entry) => {
            entry.addEventListener('click', function() {
                let url = ('{{ path('fr.home.entries.entry', {id: ':id'}) }}'.replace(':id', entry.dataset.id));
                fetch(url)
                    .then((response) => {
                        $(".modal").remove();
                        let modal = document.querySelector('#modal');
                        response.text().then((content) => {
                            modal.innerHTML = content;

                            $(".modal").modal("show")
                        });
                    })
                    .catch(console.error)
                ;
            })
        })
    </script>

{% endblock %}
