{% extends 'frontend/template.html.twig' %}

{% block header %}
    <!-- Header -->
    <header class="masthead references">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase">Nos Inspirations</div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- references Grid -->
    <section class="bg-light page-section" id="references">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Jeux Vidéo</h2>
                    <h3 class="section-subheading text-muted">Tous les jeux vidéo et créations qui nous ont inspiré "Projet Emily"</h3>
                </div>
            </div>
            <div class="row">
                {% for reference in references %}
                    <div class="col-md-4 col-sm-6 references-item">
                        <a class="references-link" data-toggle="modal" href="#referencesModal{{ reference.id }}">
                            <div class="references-hover">
                                <div class="references-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            {% if reference.thumbnail %}
                                <img class="img-fluid" src='{{ path('utils.uploads.show', {id: reference.thumbnail.id}) }}'>
                            {% else %}
                                <img class="img-fluid" src="{{ asset('build/images/default/entry.svg') }}" alt="">
                            {% endif %}
                        </a>
                        <div class="references-caption">
                            <h4>{{ reference.title }}</h4>
                            <p class="text-muted">{{ reference.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% for reference in references %}
        <div class="references-modal modal fade" id="referencesModal{{ reference.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    {{ reference.content|raw }}
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Fermer l'onglet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
