<nav
    class="navbar navbar-expand-md navbar-light darken-4 mb-5 no-content gp-bg-secondary">
    <!-- Breadcrumb-->
    <div class="mr-auto">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                {% for breadcrumb in breadcrumbs|default if ((breadcrumb.role is not defined) or (app.user and breadcrumb.role in app.user.roles)) %}
                    <li class="breadcrumb-item">
                        <a {{ not breadcrumb.id|default(null) ? '' : 'id=' ~ breadcrumb.id }} class="white-text" href="{{ breadcrumb.link|default('#') }}">{{ breadcrumb.name }}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </div>

    <ul class="navbar-nav ml-auto nav-flex-icons">
        {% for button in buttons|default if ((button.role is not defined) or (app.user and button.role in app.user.roles)) %}
            <li class="nav-item">
                <a href="{{ button.link|default('#') }}">
                    <button {{ not button.id|default(null) ? '' : 'id=' ~ button.id }} class="btn btn-sm btn-outline-white breadcrumb-item">{{ button.name }}</button>
                </a>
            </li>
        {% endfor %}
        {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('app_logout') }}">
                    <button class="btn btn-sm btn-outline-white breadcrumb-item">Déconnexion</button>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
